body{
    margin: 0px;
 }
 .flix{
     display: flex;
     align-items: center;
    justify-content: space-between;
    background-color: #E7E7E7;
    color: white;
 
 }
 .div-1{
     font-size: 29px;
     color: blue;
     margin-left: 25px;
 }
 .div-2 a{
     text-decoration: none;
     margin-right: 20px;
 }
 /* ..............hader sas ............ */
.div555{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(210, 209, 209);
    height: 380px;
    width: 450px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 5px rgb(217, 216, 216);
    text-align: center;
    margin-left: 35%;
}
#tex-too{
    outline: none;
    border: 2px solid black;
    height: 28px;
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;
}
#textar{
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;

}
#Messge{
    padding: 10px 28px;
    margin-top: 20px;
    border-radius: 8px;
    background-color:aqua;
    border-color:aqua;
    color: black;
    font-size: 15px;
}

 
 
/* ..........................futer suro.................................... */
.div5{
    background-color: black;
    color: white;
    display: flex;
   justify-content: space-around;
}
.div6{
    margin-left: 240px;
}
.div6 h1{
    margin-left: 19px;
}
.div7{
    margin-right:150px;
}
.div7 h1{
    margin-left: 25px;
}
/* ..........................futer sas.................................... */