body{
    margin: 0px;
 }
 .flix{
     display: flex;
     align-items: center;
    justify-content: space-between;
    background-color: #E7E7E7;
    color: white;
 
 }
 .div-1{
     font-size: 29px;
     color: blue;
     margin-left: 25px;
 }
 .div-2 a{
     text-decoration: none;
     margin-right: 20px;
 }
 /* ..............hader sas ............ */


 
/* ..........................futer suro.................................... */
.div5{
    background-color: black;
    color: white;
    display: flex;
   justify-content: space-around;
}
.div6{
    margin-left: 240px;
}
.div6 h1{
    margin-left: 19px;
}
.div7{
    margin-right:150px;
}
.div7 h1{
    margin-left: 25px;
}
/* ..........................futer sas.................................... */
