body{
    margin: 0px;
 }
 .flix{
     display: flex;
     align-items: center;
    justify-content: space-between;
    background-color: #E7E7E7;
    color: white;
 
 }
 .div-1{
     font-size: 29px;
     color: blue;
     margin-left: 25px;
 }
 .div-2 a{
     text-decoration: none;
     margin-right: 20px;
 }
 /* ..............hader sas ............ */

#Signup{
    box-shadow: 1px 3px 3px 5px rgb(230, 223, 223);
    margin-top: 50px;
    border-radius: 8px;
    border: 2px solid rgb(190, 188, 188);
    height: 400px;
    width: 450px;  
    text-align: center;
    margin-bottom: 50px;
    margin-left: 35%;
}
#tex{

    outline: none;
    border: 2px solid black;
    height: 28px;
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;

}
#Alreasy{
    margin-left: 100px; 
}
a{
    text-decoration: none;
}
#button-Sing-Up{
    padding: 10px 28px;
    margin-top: 20px;
    border-radius: 8px;
    background-color:aqua;
    border-color:aqua;
    color: black;
    font-size: 20px;
}

 
/* ..........................futer suro.................................... */
.div5{
    background-color: black;
    color: white;
    display: flex;
   justify-content: space-around;
}
.div6{
    margin-left: 240px;
}
.div6 h1{
    margin-left: 19px;
}
.div7{
    margin-right:150px;
}
.div7 h1{
    margin-left: 25px;
}
/* ..........................futer sas.................................... */